<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/favoriteSongs.css">
        <link rel="stylesheet" type="text/css" href="/style.css">

    <title>Favorites songs</title>
</head>
<body>
      <nav>
            <div class="NavBar">
                <a href="/success/profile">Back</a>                
            </div>
        </nav>
        <div class="form">
            <h2>Your favorite songs are:</h2>
            <p>{{titles}}</p> 
        </div>
</body>
</html>