<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <section id="hero">
        <nav>
            <div class="NavBar">
                <a href="/"> Home </a>
                <a href="./songs"> Songs </a>
                <a href="./login"> Login </a>
                <a href="./register">Register</a>
            </div>
        </nav>
    </section>
    <h1 style="text-align: center;">About us</h1>
   <div class="row">
                <div class="column">
                  <h2 id="h1" class="columnTitle">What can you find here </h2>
                  <p id="h2" class="fontSize">The lyrics of the most famous songs </p>
                </div>
                <div id="border" class="secondColumn">
                    <h2 id="h3" class="columnTitle">Select, browse and decide</h2>
                  <p id="h4" class="fontSize" >We offer you hit songs. Sit down with your family and relax. </p>
                </div>
                <div class="column">
                    <h2 id="h5" class="columnTitle">Searching!</h2>
                  <p id="h6" class="fontSize">You can search your favorite songs by name </p>
                </div>
            </div>

            
            <section class="slider">
                <h1 id="h7" class="topSerialsTitle">Popular songs</h1>
                    <div class="homeSlider">
                        <img src="/Images/Devil.jpg">
                        <img src="/Images/Payphone.jpg">
                        <img src="/Images/Wellerman.jpg">
                    </div>
              </section>
</body>
</html>