<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Songs</title>
</head>

<body>
    <section id="hero">
        <nav>
            <div class="NavBar">
                <a href="/"> Home </a>
                <a href="./songs"> Songs </a>
                <a href="./login"> Login </a>
                <a href="./register">Register</a>
            </div>
        </nav>
    </section>
    <h1 style="margin-top: 2%; text-align:center">You need to login in for searching and listening</h1>
    <div class="search">
        <label>Search: </label>
        <input type="text" name="search" placeholder="Search your favorite song">    
            <input type="submit" name="searched" value="Search">
    </div>
</body>
</html>