<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">

    <title>Document</title>
</head>

<body>
    <div class="songNavBar">
        <a href="/success/songs">Back</a>
        <form action="/success/songs/search/addToFav" method="post">
            <button type="submit">Add to favorites</button>
        </form>
    </div>
    <div class="songs">
        <h1>Title: {{Title}}</h1>
        <h2>Author: {{Author}}</h2>
        <h2 >Lyrics:</h2>
        <h3>{{Lyrics}}</h3>
    </div>
</body>

</html>